h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}

sticky-header a,
sticky-header span {
    text-transform: uppercase;
    font-weight: 700;
}

.cfr-masonry img {
    width: 100%
}

.cfr-masonry figure {
    max-width: 100%;
    width: 100%;
}