h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}

sticky-header a,
sticky-header span {
    text-transform: uppercase;
    font-weight: 700;
}

.cfr-masonry {
    padding-top: 32px;
}

.cfr-masonry img {
    width: 100%;
    height: auto;
    transition: all 500ms ease;
}

.cfr-masonry figure:hover img {
    filter: brightness(0.8);
}

.cfr-masonry figure {
    max-width: 100%;
    width: 100%;
    position: relative;
    margin: 0;
}

.cfr-masonry figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}